# Aplicación / Entorno
NODE_ENV=development
PORT=3000
PROD_PORT=3100

# Base de datos MariaDB
DB_HOST=localhost
DB_PORT=3306
DB_NAME=image_annotation_db
DB_USER=app_user
DB_PASSWORD=app_secure_password
DB_ROOT_PASSWORD=root_secure_password

# Almacenamiento MinIO (S3 Compatible)
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_secure_password
MINIO_BUCKET_NAME=annotation-images
MINIO_USE_SSL=false

# Dataset de imágenes (Hugging Face). El seeder descarga desde aquí.
DATASET_URL=https://huggingface.co/datasets/angpi/isau_proyecto_1_ds/resolve/main
